#dialog.hidden,#dialog .hidden{
  display:none!important;
}
#dialog{
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  padding:1em;
  border-radius:2em;
  border:.2em gray solid;
  background-color:slategray;
  display:grid;
  grid-gap:1em;
  min-width:20em;
}
#dialog .search{
  display:grid;
  grid-template-columns:min-content auto;
  grid-gap:1em;
  align-items:center;
}
#dialog .search hinput{
  border-radius:1em;
  padding-left:1em;
}
#dialog .choices{
  font-size:small;
  background-color:white;
  padding:1em;
  border-radius:1em;
  height:10em;
  overflow-y:scroll;
  text-align:center;
}
#dialog .choices .choice.selected{
  text-decoration:underline;
  cursor:pointer;
}
#dialog .title{
  text-align:center;
  font-weight:bold;
}
#dialog[name=tables] .choices{
  height:50vh;
}
