#units{
  grid-area:a;
  padding:0 1em;
}
#units .hidden{
  display:none;
}
#units h2{
  text-align:center;
}
#units .controls{
  display:grid;
  grid-template-areas:'a b c'
                      'd d d';
  margin-bottom:2em;
}
#units .controls .order{
  grid-area:d;
}
#units .unit{
  display:flex;
  justify-content:center;
  margin:1em;
}
#units button{
  transition:.2s;
}
#units .unit button.name{
  padding:0 1em;
  font-weight:bold;
  outline:none;
  border-style:outset;
}
#units button:focus-visible{
  background-color:gold;
  outline:none;
  border-color:gold;
  border-radius:.2em;
  border-style:outset;
}
#units #grouper{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:slategray;
  padding:1em;
  border-radius:2em;
}
#units #grouper .group{
  font-weight:bold;
}
#units #grouper .members{
  background-color:white;
  margin:1em;
  border-radius:1em;
  text-align:center;
  display:grid;
}
#units #grouper button{
  width:100%;
  text-align:center;
}
