html,body{
  height:99%;
  overflow:hidden;
  background-color:black;
  color:white;
}
#layout{
  display:grid;
  grid-template:"a b" 50%
                "a c" 50% / 30% 70%;
  width:100%;
  height:100%;
}
